@font-face {
    font-family: 'KorailRoundGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

.logo{
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.Global{
    display: flex;
    width: 100%;
    height: 130px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.06), 0px 0px 2px rgba(0, 0, 0, 0.07);
    justify-content: center
}

.sb-global-gutters{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 130px;
    top: 0px;

}

.leftBtnGroup{
    justify-content: space-between;
    width: 400px;
}

.leftBtnGroup>a{
    font-size: 18px;
    margin-left: 6%;
    text-decoration: none;
    color: black;
    font-family: 'KorailRoundGothicBold';
    letter-spacing: 2px;
}

.leftBtnGroup>a:hover{
    color: green;
}

.rightBtnGroup{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 59%;
    
}

.rightBtnGroup>a{
    margin-right: 40px;
    justify-content: right;
    font-size: 18px;
    border-radius: 50px;
    font-family: 'KorailRoundGothicBold';
    letter-spacing: 1.5px;
    text-decoration: none;
    cursor: pointer;
    border: 1.5px solid black;
    height: 40px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signInBtn{
    color: black;
    background-color: white;
}

.joinNowBtn{
    background-color: black;
    color: white;
}

.first{
    margin-top: 150px;
    display: flex;
    width: 99%;
    height: 800px;
    border: 1px solid black;
    align-items: center;
}

.mainIntro{
    overflow: hidden;
}

.mainIntroImg{
    height: 100%;
}

.mainIntroText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    color: white;
    padding-left: 5%;
}

.mainIntroText>h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80pt;
    font-family: 'Pretendard-Regular';
    font-weight: 700;
}

.mainIntroText>h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40pt;
    font-family: 'Pretendard-Regular';
    font-weight: 500;
}

.mono{
    margin-top: 40px;
    display: flex;
    width: 99%;
    height: 800px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.double{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 99%;
    height: 550px;
}

.double-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.double-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}


footer{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 3%;
    padding-left: 15%;
    width: 101%;
    min-height: 400px;
    justify-content: space-around;
    margin-top: 5%;
    box-shadow: 0 -1px 3px rgba(0,0,0,.1), 0 -2px 2px rgba(0,0,0,.06), 0 0 2px rgba(0,0,0,.07);
}

footer>details{
    font-size: 24pt;
}

footer>details>span{
    font-size: 18pt;
}

footer>p{
    color: rgb(128, 128, 128);
    font-size: 14pt;

}


/*from here, joinNow.html style*/

.container{
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    height: 1000px;
    width: 40%;
    border-radius: 5%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05), -10px -10px 15px rgba(0, 0, 0, 0.05), -10px 10px 15px rgba(0, 0, 0, 0.05), 10px -10px 15px rgba(0, 0, 0, 0.05);
}

.createAccount{
    display: flex;
    width: 70%;
    height: 72%;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'KorailRoundGothicBold';
    font-size: 18pt;
    
}

.createAccount>input{
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'KorailRoundGothicBold';
    font-size: 16pt;
    transition: 0.5s;
}

.createAccount>input:focus{
    height: 85px;
    transition: 0.5s;
    outline: none;

}

.createAccount>input:hover{
    height: 85px;
    transition: 0.5s;
}

.createAccount>input.password{
    color: black;
}

.btnGroup{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.btnGroup>button{
    border: 1.5px solid black;
    border-radius: 32px;
    height: 60px;
    font-size: 17pt;
    font-family: 'KorailRoundGothicBold';
    cursor: pointer;
}

.createAccountBtn{
    background-color: white;
}
.toLoginBtn{
    background-color: black;
    color: white;
}

/*from here, signIn.html style*/
.login{
    display: flex;
    width: 70%;
    height: 72%;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'KorailRoundGothicBold';
    font-size: 18pt;
    
}

.login>input{
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'GmarketSansMedium';
    font-size: 16pt;
    transition: 0.5s;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
}

.inputGroup>input{
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'KorailRoundGothicBold';
    font-size: 16pt;
    transition: 0.5s;
}

.inputGroup>input:focus{
    height: 85px;
    transition: 0.5s;
    outline: none;
}

.inputGroup>input:hover{
    height: 85px;
    transition: 0.5s;
}

.inputGroup>input.password{
    color: black;
}

.loginBtn{
    background-color: white;

}

.toJoinNowBtn{
    background-color: black;
    color: white;
}

/*from here, aboutUs.html style*/

.aboutBox{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    width: 99%;
    font-family: 'Pretendard-Regular';
}

.aboutBox.double{
    display: flex;
}

.right{
    display: flex;
    justify-content: right;
    width: 100%;
}

.aboutBox>.double>.double-left{
    background: linear-gradient(to right, white,rgba(255, 255, 255, 0.2));
    width: 100%;
}

.aboutBox>.double>.double-right{
    background: linear-gradient(to left, white,rgba(255, 255, 255, 0.2));
    text-align: right;
    width: 100%;
}

.arabica{
    background-image: url(img/arabica.png);
}

.water{
    background-image: url(img/water.png);
}

.brewing{
    background-image: url(img/brewing.png);
}

.beens{
    background-image: url(img/beens.png);
}

.imgBox{
    border: 1px solid black;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
}

.aboutUs>article>h1{
    font-size: 20pt;
    font-weight: 700;
    margin-bottom: 0;
}

.aboutUs>article>h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30pt;
    font-family: 'Pretendard-Light';
    font-weight: 500;
}

.aboutUs>article>h3{
    font-size: 26pt;
    font-family: 'Pretendard-Light';
    font-weight: 300;
}

.aboutUs>article>h4{
    font-size: 18pt;
    font-family: 'Pretendard-Light';
    font-weight: 200;
    margin-bottom: 20px;
}

/*from here, aboutUs.html style*/

.CEOImgBox{
    border: 1px solid black;
    align-items: center;
    width: 340px;
    height: 480px;
    margin-left: 5%;
}

.aboutCEO>article>h1{
    margin-bottom: 0;
    font-size: 28pt;
    font-family: 'Pretendard-Light';
    font-weight: 300;
    margin-bottom: 0;
}

.aboutCEO>article>h2{
    font-size: 28pt;
    font-family: 'Pretendard-Light';
    font-weight: 400;
}

.aboutCEO>article>h3{
    margin-top: 0;
    font-size: 32pt;
    font-family: 'Pretendard-Light';
    font-weight: 600;
    height: 30px;
}

.aboutCEO>article>h4{
    font-size: 18pt;
    font-family: 'Pretendard-Light';
    font-weight: 200;
    margin-bottom: 20px;
}

.aboutCEO>article>details>summary{
    margin-top: 0;
    font-size: 18pt;
    font-family: 'Pretendard-Light';
    font-weight: 400;
    margin-bottom: 22px;
}

.aboutCEO>article>details>li{
    font-size: 16pt;
    font-family: 'Pretendard-Light';
    font-weight: 300;
    margin-bottom: 20px;
}